.navbar{
    background-color: seagreen;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.column {
    float: left;
    width: 50%;
    height: 500px;
    margin: auto;
    padding: 0 10px;
}

#orders{
    overflow: scroll;
}

.row {
    width: 50%;
    margin: 100px auto;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#vecchiaPsw, #nuovaPsw, #confermaNuovaPsw{
    color: black;
}

.accordion{
    width: 100%;
    color: white;
    overflow: hidden;
}

.acc-label{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: goldenrod;
    font-weight: bold;
    cursor: pointer;
}

.accordion:first-child{
    border-bottom: 1px solid;
}

.acc-label:hover{
    background-color: #47B5FF;
}

.acc-label::after{
    content: ">";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all 0.4s ease;
}

.acc-content{
    display: none;
    padding: 0 1em;
    color: #2c3e50;
    margin-top: 1px;
    background-color: #D6EEEE;
    transition: all 0.4s ease;
}

.infoOrdine{
    font-weight: bold;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 100%;
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    overflow: scroll;
}

table{
    margin: auto auto;
    text-align: center;
}

th, td{
    text-align: left;
    padding-right: 20px;
    padding-bottom: 20px;
}

p.title{
    color: black;
    font-size: 1.8em;
    font-weight: bold;
    padding-bottom: 10px;
}

p.info{
    text-align: right;
}

.accountinfo{
    font-size: 1.2em;
}

a:visited{
    color: blue;
}

label{
    float: left;
}



