/* MODIFICA-SUCCESSO-PAGE */
#modificaOk{
   margin: 100px auto;
   text-align: center;
}

#modificaOk > h1{
    color: #04AA6D;
}

#modificaOk > table{
    margin: auto;
}

a.icon{
    margin-right: 5px;
    font-size: 1.5em;
    color: #04AA6D;
}

a.icon:visited{
    color: #04AA6D;
}

#modificaOk table th, td{
    border-bottom: 1px solid black;
    text-align: left;
    font-size: 24px;
    padding-right: 5px;
}

#modificaOk table tr:hover {background-color: #D6EEEE;}

/* MODIFICA-PRODOTTO-PAGE */

div#updateProduct{
    margin: 100px 20px;
}

div#updateProduct form input[value]{
    color: black;
}

div#updateProduct label{
    font-size: 1.4em;
    margin-left: 10px;
}

#cod, #nome, #provenienza, #descrizione{
    width: 50%;
}

div#updateImage{
    float: right;
    width: 25%;
}

div#updateImage img {
    width: 100%;
    height: auto;
}
